<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>online marketing</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="myCtrl">
  
	<div id="main">
	<div class="col-md-12 col-xs-12 header">
       <div id="mySidenav" class="sidenav">
           <!--  <a  class="closebtn" onclick="closeNav()">&times;</a> -->
           <a  class="closebtn" ng-click="closeNav()">&times;</a>
            <br>
                 <div class="container">
                        <form>
                          <div class="group">      
                            <input type="text" ng-model="x.title" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>title</label>
                          </div>
                          <div class="group">      
                            <input type="text" ng-model="x.description" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>description</label>
                          </div>
                          <div class="group">      
                            <input type="text" ng-model="x.price" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>price</label>
                          </div>
                          <div class="group">      
                            <input type="text"  ng-model="x.posted" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>posted</label>
                          </div>
                          <div class="group">      
                            <input type="text" ng-model="x.name"  required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>name</label>
                          </div>
                          <div class="group">      
                            <input type="text" ng-model="x.phone" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>phone</label>
                          </div>
                          <button ng-if="!editing" type="button" ng-click="savex(x)" >save</button>
                           <button ng-click="saveedit()" ng-if="editing" >save edit</button>
                           <button >cancel</button>
                           <pre>
                            {{x | json}} 
                           </pre>
                        </form>
                 </div>     
      </div>
		<ul style="list-style: none;">
       <li style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776;</li>
      <li> ngClasifides</li>
			<li>NEW CLASIFIDES</li>
			<li><button class="btn btn-success" ng-click="showFilter = !showFilter">FILTERS</button></li></ul>
      
                      
	</div>
  <div class="clearfix"></div>
          
      <div class="data">
        <div class="row">
          <div class="col-md-12" ng-show="showFilter">
            <div class="col-md-3 search m-t-30" >
              <span> Search Name:</span> 
            </div>
            <div class="col-md-3 m-t-30">      
                         <input type="text" class="form-control" ng-model="a" required>
                          
            </div>
            <div class="col-md-6 m-t-30">
              <div class="col-md-6">
               <select ng-model="selectedName" class="form-control" ng-options="category for category in categories" ></select>
             </div>
             <div class="col-md-6">
             <button type="button" ng-click="selectedName='';" class="btn btn-primary">click</button>
           </div>
            </div>
          </div>
        </div>
       
             
      	<ul  class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-t-30" ng-repeat="x in details | filter : selectedName | filter : a">
      		
      		<li><img class="img-responsive" ng-src="{{x.image}}"></li>
      		<div ng-show="!showContact">
            <li>{{x.id}}</li>
            <h1>{{x.title}}</h1>
            <li>{{x.description}}</li>
            <li>{{x.price | currency}}</li>
            <li>{{x.posted}}</li>
        </div>
           <div ng-show="showContact">
            <li>{{x.contact.name}}</li>
            <li>{{x.contact.phone}}</li>
            <li>{{x.contact.email}}</li>
        </div>
          <button ng-click="showContact = true"
            ng-show="!showContact">
               contact
         </button>
          <button ng-click="showContact = false"
          ng-show="showContact">details
         </button>
           <button ng-click="showAdmin = true"
           ng-show="!showAdmin">
           admin 
          </button>
          <button ng-click="showAdmin = false"
           ng-show="showAdmin">
          close
         </button>
        
        <div ng-if="showAdmin">
        	<button ng-click="editx(x)">edit</button>
        	<button ng-click="deletex(x)">delete</button>
        </div>
        </ul>
      </div>
        </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js"></script>
  <script src="app.js" type="text/javascript"></script>	
  <script>
/*function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}*/

/*function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}*/
</script>
</body>
</html>