
   .header ul li{
        float: left;
    	padding: 10px;
        color: white;
    }	
   .header{
   	background-color: rgb(0,150,136);
   }
   .data ul li{
      list-style-type:none;
       
   }
   .data ul li img{
   	height:400px;
   	width: 400px;
   }
   body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}
   /*side bar input fildes*/
.container    { 
  font-family:'Roboto';
  display:block; 
  background:#FFF;
  padding:8px 0px 0px;
}
.group        { 
  position:relative; 
  margin-bottom:45px; 
}

input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }
label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
.filter{
  padding-top: 100px;

}
.filter label{
  padding-top: 130px;
  text-align: center;
}
.search{
      padding-left: 18%;
    padding-top: 7px;
}
.m-t-30{
  margin-top: 30px;
}
.m-t-20{
  margin-top: 20px;
}